:root {
    --font-size: 16px;
    --font-family: "Comic Sans MS";

    --backclr: teal	;
    --fontclr: orange		;

    --link: greenyellow;
    --linkHov: lime;
    --error: red;

    --border: white;
    --tableHeadBack: #052D6E;
    --tableHeadFont: #A69100;
    --tableEvenBack: #052D6E;
    --tableEvenFont:  #A69100;
    --tableOddBack: #A69100;
    --tableOddFont: #052D6E;
    --tableFootBack: gray;
    --tableFootFont: white;

    --butBack:white;
    --butClr:black;
    --butBack-Hov:#0040ff;
    --butClr-Hov:#ffffff;

}
