@using MRS_web.Models.EDM
@{
    ViewBag.Title = $"Список документов счётчика \"{ViewData["MeterName"]}\"";
}

<h3>
    <a class="backButton" href="javascript:history.go(-1)">Назад</a>
</h3>

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Дата подписания</th>
            <th>Текст</th>
        </tr>
    </thead>
    @{
        foreach (Document doc in (IEnumerable<Document>) ViewData["Documents"])
        {
            <tr>
                <td>@doc.Title</td>
                <td>@doc.SigningDate.ToString("d")</td>
                <td>@doc.Discription</td>
            </tr>
        }
    }
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td><button>Выгрузить в Эксель</button></td>
    </tr>
    </tfoot>
</table>
