@using MRS_web.Models.EDM

@{
    User user = ViewData["User"] as User;
    ViewBag.Title =$"Пользователь \"{user}\"";
}

<h3>
    <a class="backButton" href="javascript:history.go(-1)">Назад</a>
</h3>

<h2>@ViewBag.Title</h2>

<table class="InfoTable">
    <tr>
        <td>Логин</td>
        <td>@user.Login</td>
    </tr>
    <tr>
        <td>Полное имя</td>
        <td>@user.FullName</td>
    </tr>
    <tr>
        <td>Права администратора</td>
        @{
            string s = $"bool{user.AdminPrivileges}";
            <td class = @s></td>
        }
    </tr>
    <tr>
        <td>Счётчикик</td>
        <td>@Html.ActionLink("Посмотреть...", "MetersList","Database",new { userLogin = user.Login}, null)</td>
    </tr>
</table>

